<script type="application/json" id="bootstrapped_tags_json">

	{ "tags": <%= Tag.all.to_json.html_safe %> }

</script>

<script type='text/template' id='tags_template'>
	<select name="tag_ids">
		<%% _(tags).each(function (tag) { %>
			<option value="<%%= tag.id %>"><%%= tag.name %></option>
		<%% }); %>
	</select>
</script>

<h1><%= @user.username %></h1>

<h2>Secrets</h2>
<ul id='user_secrets'>
  <% @user.received_secrets.each do |secret| %>
    <li><%= secret.title %></li>
  <% end %>
</ul>


<%= render "secrets/form" %>

<script>
	var tags = JSON.parse($('#bootstrapped_tags_json').html());
	var templateCode = $("#tags_template").html();
	var templateFn = _.template(templateCode);
	var renderedContent = templateFn(tags);
	$("#secret_submit").before($(renderedContent));

	$('.secret').on('submit', function(event){
		event.preventDefault();
		var $this = $(this);
		var formData = $this.serializeJSON();

		$.ajax({
			type: "POST",
			url: "/secrets/",
			data: formData,
			success: function(response){
				console.log(response);
				var secret = $("<li>").text(response.title);
				$('#user_secrets').prepend(secret);
				$('#secret').val('');
			}
		});
	});

</script>